# Data Transfer Utilities - Data Export APIs

### Disclaimer

The sample code (“Sample Code”) provided is not covered by any Teradata agreements. Please be aware that Teradata has no control over the model responses to such sample code and such response may vary. The use of the model by Teradata is strictly for demonstration purposes and does not constitute any form of certification or endorsement. The sample code is provided “AS IS” and any express or implied warranties, including the implied warranties of merchantability and fitness for a particular purpose, are disclaimed. In no event shall Teradata be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) sustained by you or a third party, however caused and on any theory of liability, whether in contract, strict liability, or tort arising in any way out of the use of this sample code, even if advised of the possibility of such damage.

#### FastExport Protcol
- ##### Usage recommendation
    Teradata recommends to use FastExport when number of rows in teradataml DataFrame are atleast 100,000. To extract lesser rows ignore this option and go with regular approach. FastExport opens multiple data transfer connections to the database.

- ##### Limitations
    1. FastExport does not support all Teradata Database data types. For example, tables with BLOB and CLOB type columns cannot be extracted.
    2. FastExport cannot be used to extract data from a volatile or temporary table.
    3. For best efficiency, do not use DataFrame.groupby() and DataFrame.sort() with FastExport.

#### Data Export APIs in teradataml
- ##### fastexport
    Exports teradataml DataFrame to Pandas DataFrame or CSV file using Teradata FastExport protocol.
    * Options for exporting data to Pandas and CSV:
        * Export to Pandas dataframe.
        * Enhance the performance of data transfer by opening multiple sessions.
        * Export to CSV.
        * Export to CSV with different delimiters.

- ##### DataFrame.to_pandas
    Exports teradataml DataFrame to Pandas DataFrame with or without FastExport protocol.
    * Options for exporting data to Pandas dataframe:
        * Export to Pandas dataframe.
        * Export to Pandas dataframe by specifying multiple columns to be used as Pandas index.
        * Export only few rows to Pandas dataframe.
        * Export all the rows to Pandas dataframe using FastExport protocol.
        * Enhance the performance of data transfer by opening multiple sessions.

- ##### DataFrame.to_csv
    Exports teradataml DataFrame to CSV from teradataml DataFrame with or without FastExport protocol.
    * Options for exporting data to CSV:
        * Export to CSV.
        * Export only few rows to CSV.
        * Export all the rows to CSV using FastExport protocol.
        * Enhance the performance of data transfer by opening multiple sessions.
        * Export to CSV with different delimiters.

## 1. Import the required teradataml modules

In [2]:
from teradataml import create_context, remove_context, DataFrame, load_example_data, fastexport, db_drop_table
import getpass, os, json

## 2. Connect to a Vantage system

In [3]:
# Create a connetion.
host = getpass.getpass("Host: ")
username = getpass.getpass("Username: ")
password = getpass.getpass("Password: ")

con = create_context(host=host, username=username, password=password)

Host:  ········
Username:  ········
Password:  ········

## 3. Load the Data

#### Loading data and using same in examples.

In [4]:
load_example_data("dataframe", "admissions_train")

## 4. Create teradataml DataFrame

In [5]:
df = DataFrame("admissions_train")

In [6]:
# Print the dataframe.
df

   masters   gpa     stats programming  admitted
id
38     yes  2.65  Advanced    Beginner         1
7      yes  2.33    Novice      Novice         1
26     yes  3.57  Advanced    Advanced         1
17      no  3.83  Advanced    Advanced         1
34     yes  3.85  Advanced    Beginner         0
13      no  4.00  Advanced      Novice         1
32     yes  3.46  Advanced    Beginner         0
11      no  3.13  Advanced    Advanced         1
15     yes  4.00  Advanced    Advanced         1
36      no  3.00  Advanced      Novice         0

## 5. Available Data Export APIs in teradataml

### 5.1 fastexport

##### Export teradataml DataFrame to pandas DataFrame using fastexport()

In [7]:
pandas_df = fastexport(df)
pandas_df

Errors: []
Warnings: []

   masters   gpa     stats programming  admitted
id
40     yes  3.95    Novice    Beginner         0
19     yes  1.98  Advanced    Advanced         0
38     yes  2.65  Advanced    Beginner         1
36      no  3.00  Advanced      Novice         0
7      yes  2.33    Novice      Novice         1
26     yes  3.57  Advanced    Advanced         1
5       no  3.44    Novice      Novice         0
24      no  1.87  Advanced      Novice         1
3       no  3.70    Novice    Beginner         1
22     yes  3.46    Novice    Beginner         0
1      yes  3.95  Beginner    Beginner         0
20     yes  3.90  Advanced    Advanced         1
39     yes  3.75  Advanced    Beginner         0
18     yes  3.81  Advanced    Advanced         1
37      no  3.52    Novice      Novice         1
8       no  3.60  Beginner    Advanced         1
6      yes  3.50  Beginner    Advanced         1
25      no  3.96  Advanced    Advanced         1
4      yes  3.50  Beginner      Novice         1
23     yes  3.59  Advanced      Novice         1
2      yes  3.76  Beginner    Beginner         0
21      no  3.87    Novice    Beginner         1
17      no  3.83  Advanced    Advanced         1
15     yes  4.00  Advanced    Advanced         1
34     yes  3.85  Advanced    Beginner         0
13      no  4.00  Advanced      Novice         1
32     yes  3.46  Advanced    Beginner         0
11      no  3.13  Advanced    Advanced         1
30     yes  3.79  Advanced      Novice         0
9       no  3.82  Advanced    Advanced         1
28      no  3.93  Advanced    Advanced         1
16      no  3.70  Advanced    Advanced         1
35      no  3.68    Novice    Beginner         1
14     yes  3.45  Advanced    Advanced         0
33      no  3.55    Novice      Novice         1
12      no  3.65    Novice      Novice         1
31     yes  3.50  Advanced    Beginner         1
10      no  3.71  Advanced    Advanced         1
29     yes  4.00    Novice    Beginner         0
27     yes  3.96  Advanced    Advanced         0

##### Export teradataml DataFrame to Pandas DataFrame using fastexport() by opening specified number of Teradata data-transfer sessions.

"open_sessions" argument is used to specify the number of Teradata data transfer sessions to be opened for fastexport.

If "open_sessions" argument is not provided, the default value is the smaller of 8 or the number of AMPs avaialble.
For additional information about number of Teradata data-transfer sessions opened during fastexport, please refer to: https://pypi.org/project/teradatasql/#FastExport

In [8]:
pandas_df = fastexport(df, open_sessions=2)
pandas_df

Errors: []
Warnings: []

   masters   gpa     stats programming  admitted
id
40     yes  3.95    Novice    Beginner         0
19     yes  1.98  Advanced    Advanced         0
38     yes  2.65  Advanced    Beginner         1
36      no  3.00  Advanced      Novice         0
7      yes  2.33    Novice      Novice         1
26     yes  3.57  Advanced    Advanced         1
5       no  3.44    Novice      Novice         0
24      no  1.87  Advanced      Novice         1
3       no  3.70    Novice    Beginner         1
22     yes  3.46    Novice    Beginner         0
1      yes  3.95  Beginner    Beginner         0
20     yes  3.90  Advanced    Advanced         1
39     yes  3.75  Advanced    Beginner         0
18     yes  3.81  Advanced    Advanced         1
37      no  3.52    Novice      Novice         1
8       no  3.60  Beginner    Advanced         1
6      yes  3.50  Beginner    Advanced         1
25      no  3.96  Advanced    Advanced         1
4      yes  3.50  Beginner      Novice         1
23     yes  3.59  Advanced      Novice         1
2      yes  3.76  Beginner    Beginner         0
21      no  3.87    Novice    Beginner         1
17      no  3.83  Advanced    Advanced         1
15     yes  4.00  Advanced    Advanced         1
34     yes  3.85  Advanced    Beginner         0
13      no  4.00  Advanced      Novice         1
32     yes  3.46  Advanced    Beginner         0
11      no  3.13  Advanced    Advanced         1
30     yes  3.79  Advanced      Novice         0
9       no  3.82  Advanced    Advanced         1
28      no  3.93  Advanced    Advanced         1
16      no  3.70  Advanced    Advanced         1
35      no  3.68    Novice    Beginner         1
14     yes  3.45  Advanced    Advanced         0
33      no  3.55    Novice      Novice         1
12      no  3.65    Novice      Novice         1
31     yes  3.50  Advanced    Beginner         1
10      no  3.71  Advanced    Advanced         1
29     yes  4.00    Novice    Beginner         0
27     yes  3.96  Advanced    Advanced         0

##### Export teradataml DataFrame to CSV file

In [9]:
fastexport(df, 
           export_to="csv", 
           csv_file="Test.csv")

Data is successfully exported into Test.csv

##### Export teradataml DataFrame to a given CSV file using fastexport() and catch errors/warnings thrown by fastexport

In [10]:
err, warn = fastexport(df, 
                       export_to="csv", 
                       catch_errors_warnings=True,
                       csv_file="Test_3.csv")

Data is successfully exported into Test_3.csv

##### Export teradataml DataFrame to CSV file with field separator and field quote character.

In [11]:
fastexport(df,
           export_to="csv",
           csv_file="Test_4.csv",
           sep = "|",
           quotechar="'")

Data is successfully exported into Test_4.csv

### 5.2 DataFrame.to_pandas

##### Export data from teradataml DataFrame to pandas DataFrame

In [12]:
pandas_df = df.to_pandas()
pandas_df

   masters   gpa     stats programming  admitted
id
40     yes  3.95    Novice    Beginner         0
17      no  3.83  Advanced    Advanced         1
19     yes  1.98  Advanced    Advanced         0
15     yes  4.00  Advanced    Advanced         1
38     yes  2.65  Advanced    Beginner         1
34     yes  3.85  Advanced    Beginner         0
36      no  3.00  Advanced      Novice         0
13      no  4.00  Advanced      Novice         1
7      yes  2.33    Novice      Novice         1
32     yes  3.46  Advanced    Beginner         0
26     yes  3.57  Advanced    Advanced         1
11      no  3.13  Advanced    Advanced         1
5       no  3.44    Novice      Novice         0
30     yes  3.79  Advanced      Novice         0
24      no  1.87  Advanced      Novice         1
9       no  3.82  Advanced    Advanced         1
3       no  3.70    Novice    Beginner         1
28      no  3.93  Advanced    Advanced         1
22     yes  3.46    Novice    Beginner         0
16      no  3.70  Advanced    Advanced         1
1      yes  3.95  Beginner    Beginner         0
35      no  3.68    Novice    Beginner         1
20     yes  3.90  Advanced    Advanced         1
14     yes  3.45  Advanced    Advanced         0
39     yes  3.75  Advanced    Beginner         0
33      no  3.55    Novice      Novice         1
18     yes  3.81  Advanced    Advanced         1
12      no  3.65    Novice      Novice         1
37      no  3.52    Novice      Novice         1
31     yes  3.50  Advanced    Beginner         1
8       no  3.60  Beginner    Advanced         1
10      no  3.71  Advanced    Advanced         1
6      yes  3.50  Beginner    Advanced         1
29     yes  4.00    Novice    Beginner         0
25      no  3.96  Advanced    Advanced         1
27     yes  3.96  Advanced    Advanced         0
4      yes  3.50  Beginner      Novice         1
23     yes  3.59  Advanced      Novice         1
2      yes  3.76  Beginner    Beginner         0
21      no  3.87    Novice    Beginner         1

##### Export data from teradataml DataFrame to pandas DataFrame by specifying multiple columns to be used as Pandas index.

In [13]:
pandas_df = df.to_pandas(index_column = ['masters', 'gpa'])
pandas_df

              id     stats programming  admitted
masters gpa
yes     3.95  40    Novice    Beginner         0
no      3.83  17  Advanced    Advanced         1
yes     1.98  19  Advanced    Advanced         0
        4.00  15  Advanced    Advanced         1
        2.65  38  Advanced    Beginner         1
        3.85  34  Advanced    Beginner         0
no      3.00  36  Advanced      Novice         0
        4.00  13  Advanced      Novice         1
yes     2.33   7    Novice      Novice         1
        3.46  32  Advanced    Beginner         0
        3.57  26  Advanced    Advanced         1
no      3.13  11  Advanced    Advanced         1
        3.44   5    Novice      Novice         0
yes     3.79  30  Advanced      Novice         0
no      1.87  24  Advanced      Novice         1
        3.82   9  Advanced    Advanced         1
        3.70   3    Novice    Beginner         1
        3.93  28  Advanced    Advanced         1
yes     3.46  22    Novice    Beginner         0
no      3.70  16  Advanced    Advanced         1
yes     3.95   1  Beginner    Beginner         0
no      3.68  35    Novice    Beginner         1
yes     3.90  20  Advanced    Advanced         1
        3.45  14  Advanced    Advanced         0
        3.75  39  Advanced    Beginner         0
no      3.55  33    Novice      Novice         1
yes     3.81  18  Advanced    Advanced         1
no      3.65  12    Novice      Novice         1
        3.52  37    Novice      Novice         1
yes     3.50  31  Advanced    Beginner         1
no      3.60   8  Beginner    Advanced         1
        3.71  10  Advanced    Advanced         1
yes     3.50   6  Beginner    Advanced         1
        4.00  29    Novice    Beginner         0
no      3.96  25  Advanced    Advanced         1
yes     3.96  27  Advanced    Advanced         0
        3.50   4  Beginner      Novice         1
        3.59  23  Advanced      Novice         1
        3.76   2  Beginner    Beginner         0
no      3.87  21    Novice    Beginner         1

##### Export specified number of rows to retrieve randomly from the DataFrame while creating pandas Dataframe

In [14]:
pandas_df = df.to_pandas(num_rows=3)
pandas_df

   masters   gpa     stats programming  admitted
id
39     yes  3.75  Advanced    Beginner         0
27     yes  3.96  Advanced    Advanced         0
18     yes  3.81  Advanced    Advanced         1

##### Export all rows from teradataml DataFrame to pandas dataframe using FastExport protocol

In [15]:
pandas_df = df.to_pandas(all_rows=True,
                         fastexport=True)
pandas_df

Errors: []
Warnings: []

   masters   gpa     stats programming  admitted
id
40     yes  3.95    Novice    Beginner         0
19     yes  1.98  Advanced    Advanced         0
38     yes  2.65  Advanced    Beginner         1
36      no  3.00  Advanced      Novice         0
7      yes  2.33    Novice      Novice         1
26     yes  3.57  Advanced    Advanced         1
5       no  3.44    Novice      Novice         0
24      no  1.87  Advanced      Novice         1
3       no  3.70    Novice    Beginner         1
22     yes  3.46    Novice    Beginner         0
1      yes  3.95  Beginner    Beginner         0
20     yes  3.90  Advanced    Advanced         1
39     yes  3.75  Advanced    Beginner         0
18     yes  3.81  Advanced    Advanced         1
37      no  3.52    Novice      Novice         1
8       no  3.60  Beginner    Advanced         1
6      yes  3.50  Beginner    Advanced         1
25      no  3.96  Advanced    Advanced         1
4      yes  3.50  Beginner      Novice         1
23     yes  3.59  Advanced      Novice         1
2      yes  3.76  Beginner    Beginner         0
21      no  3.87    Novice    Beginner         1
17      no  3.83  Advanced    Advanced         1
15     yes  4.00  Advanced    Advanced         1
34     yes  3.85  Advanced    Beginner         0
13      no  4.00  Advanced      Novice         1
32     yes  3.46  Advanced    Beginner         0
11      no  3.13  Advanced    Advanced         1
30     yes  3.79  Advanced      Novice         0
9       no  3.82  Advanced    Advanced         1
28      no  3.93  Advanced    Advanced         1
16      no  3.70  Advanced    Advanced         1
35      no  3.68    Novice    Beginner         1
14     yes  3.45  Advanced    Advanced         0
33      no  3.55    Novice      Novice         1
12      no  3.65    Novice      Novice         1
31     yes  3.50  Advanced    Beginner         1
10      no  3.71  Advanced    Advanced         1
29     yes  4.00    Novice    Beginner         0
27     yes  3.96  Advanced    Advanced         0

##### Export data from teradataml DataFrame to pandas DataFrame using FastExport protocol by opening one Teradata data transfer session.

"open_sessions" argument is only applicable in fastexport mode.

For additional information about number of Teradata data-transfer sessions opened during fastexport, please refer to: https://pypi.org/project/teradatasql/#FastExport

In [16]:
pandas_df = df.to_pandas(fastexport=True,
                         open_sessions=1)
pandas_df

Errors: []
Warnings: []

   masters   gpa     stats programming  admitted
id
40     yes  3.95    Novice    Beginner         0
19     yes  1.98  Advanced    Advanced         0
38     yes  2.65  Advanced    Beginner         1
36      no  3.00  Advanced      Novice         0
7      yes  2.33    Novice      Novice         1
26     yes  3.57  Advanced    Advanced         1
5       no  3.44    Novice      Novice         0
24      no  1.87  Advanced      Novice         1
3       no  3.70    Novice    Beginner         1
22     yes  3.46    Novice    Beginner         0
1      yes  3.95  Beginner    Beginner         0
20     yes  3.90  Advanced    Advanced         1
39     yes  3.75  Advanced    Beginner         0
18     yes  3.81  Advanced    Advanced         1
37      no  3.52    Novice      Novice         1
8       no  3.60  Beginner    Advanced         1
6      yes  3.50  Beginner    Advanced         1
25      no  3.96  Advanced    Advanced         1
4      yes  3.50  Beginner      Novice         1
23     yes  3.59  Advanced      Novice         1
2      yes  3.76  Beginner    Beginner         0
21      no  3.87    Novice    Beginner         1
17      no  3.83  Advanced    Advanced         1
15     yes  4.00  Advanced    Advanced         1
34     yes  3.85  Advanced    Beginner         0
13      no  4.00  Advanced      Novice         1
32     yes  3.46  Advanced    Beginner         0
11      no  3.13  Advanced    Advanced         1
30     yes  3.79  Advanced      Novice         0
9       no  3.82  Advanced    Advanced         1
28      no  3.93  Advanced    Advanced         1
16      no  3.70  Advanced    Advanced         1
35      no  3.68    Novice    Beginner         1
14     yes  3.45  Advanced    Advanced         0
33      no  3.55    Novice      Novice         1
12      no  3.65    Novice      Novice         1
31     yes  3.50  Advanced    Beginner         1
10      no  3.71  Advanced    Advanced         1
29     yes  4.00    Novice    Beginner         0
27     yes  3.96  Advanced    Advanced         0

##### Export data from teradataml DataFrame to pandas DataFrame using fastexport  also catch warnings/errors if any raised by fastexport

In [17]:
pandas_df, err, warn = df.to_pandas(fastexport=True,
                                    catch_errors_warnings=True)
pandas_df

   masters   gpa     stats programming  admitted
id
40     yes  3.95    Novice    Beginner         0
19     yes  1.98  Advanced    Advanced         0
38     yes  2.65  Advanced    Beginner         1
36      no  3.00  Advanced      Novice         0
7      yes  2.33    Novice      Novice         1
26     yes  3.57  Advanced    Advanced         1
5       no  3.44    Novice      Novice         0
24      no  1.87  Advanced      Novice         1
3       no  3.70    Novice    Beginner         1
22     yes  3.46    Novice    Beginner         0
1      yes  3.95  Beginner    Beginner         0
20     yes  3.90  Advanced    Advanced         1
39     yes  3.75  Advanced    Beginner         0
18     yes  3.81  Advanced    Advanced         1
37      no  3.52    Novice      Novice         1
8       no  3.60  Beginner    Advanced         1
6      yes  3.50  Beginner    Advanced         1
25      no  3.96  Advanced    Advanced         1
4      yes  3.50  Beginner      Novice         1
23     yes  3.59  Advanced      Novice         1
2      yes  3.76  Beginner    Beginner         0
21      no  3.87    Novice    Beginner         1
17      no  3.83  Advanced    Advanced         1
15     yes  4.00  Advanced    Advanced         1
34     yes  3.85  Advanced    Beginner         0
13      no  4.00  Advanced      Novice         1
32     yes  3.46  Advanced    Beginner         0
11      no  3.13  Advanced    Advanced         1
30     yes  3.79  Advanced      Novice         0
9       no  3.82  Advanced    Advanced         1
28      no  3.93  Advanced    Advanced         1
16      no  3.70  Advanced    Advanced         1
35      no  3.68    Novice    Beginner         1
14     yes  3.45  Advanced    Advanced         0
33      no  3.55    Novice      Novice         1
12      no  3.65    Novice      Novice         1
31     yes  3.50  Advanced    Beginner         1
10      no  3.71  Advanced    Advanced         1
29     yes  4.00    Novice    Beginner         0
27     yes  3.96  Advanced    Advanced         0

### 5.3 DataFrame.to_csv

##### Export data from teradataml DataFrame into CSV

In [18]:
df.to_csv("export_to_csv_1.csv")

Data is successfully exported into export_to_csv_1.csv

##### Export specified number of rows to retrieve randomly from the teradataml DataFrame while creating CSV

In [19]:
df.to_csv("export_to_csv_3.csv", num_rows=20)

Data is successfully exported into export_to_csv_3.csv

##### Export all rows from teradataml DataFrame into CSV using FastExport protocol.

In [20]:
df.to_csv("export_to_csv_2.csv", all_rows=True, fastexport=True)

Data is successfully exported into export_to_csv_2.csv

##### Export data from teradataml DataFrame into CSV using FastExport protocol by opening specified number of Teradata data transfer session. Save errors and warnings thrown by fastexport

In [21]:
err, warn = df.to_csv("export_to_csv_4.csv", fastexport=True,
                      catch_errors_warnings=True,
                      open_sessions=1)

Data is successfully exported into export_to_csv_4.csv

##### Export data from teradataml DataFrame into CSV file with field separator and field quote character

In [22]:
df.to_csv("export_to_csv_5.csv", sep="|", quotechar="'" )

Data is successfully exported into export_to_csv_5.csv

## 6. Cleanup

In [23]:
# Remove the loaded table.
db_drop_table("admissions_train")

True

In [24]:
# Removes the current context associated with the Teradata Vantage.
remove_context()

True